.navbar-main {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90px;
}
.navbar-container {
  width: 95%;
  display: flex;
  justify-content: space-between;
  font-size: 1.2rem;
  font-weight: 600;
  text-transform: capitalize;
  padding: 2rem 0;
}
.logo-main {
  cursor: pointer;
}
.logo {
  display: flex;
  position: relative;
  overflow: hidden;
}
.logo-second {
  position: absolute;
  left: 103%;
}

.navlink-main {
  display: flex;
}
.navlink-main > span {
  margin-right: 2rem;
  /* cursor: pointer; */
}
.navlink-main > span:last-child {
  margin: 0;
}
